<div id="navibar" class="navbar" data-active-navibar-item-id="$!{navibarItemId}">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href=".">Java Template Engines</a>
      <div class="nav-collapse">
        <ul class="nav">
          #foreach(${e} in ${templateEngines})
            <li><a href="#springUrl('')/app/${e.id}">${e.engineName}</a></li>
          #end
        </ul>
      </div>
    </div>
  </div>
</div>